/*div {
    border: 1px solid magenta;
    //for debug only
}*/

.inline{
  display: inline-block;
}


.container{
  width: 472px;
  height:472px;
  border-radius:100%;
  position: relative;
  text-align: center;
  margin:auto;
  background-color:#333;
  top:10vh;
  box-shadow: 0px 0px 12px #222;
}

.gameboard {
  position: relative;
  top:12px; 
}

.row {
    margin-bottom:-4px;
}

.top-left {
    display: inline-block;
    width: 224px;
    height: 224px;
    border-top-left-radius : 100%;
    border: 12px solid #333;
}

.top-right {
    display: inline-block;
    width: 224px;
    height: 224px;
    border-top-right-radius : 100%;
    border: 12px solid #333;
}

.bottom-left {
    display: inline-block;
    width: 224px;
    height: 224px;
    border-bottom-left-radius : 100%;
    border: 12px solid #333;
}

.bottom-right {
    display: inline-block;
    width: 224px;
    height: 224px;
    border-bottom-right-radius : 100%;
    border: 12px solid #333;
}

.center{
  width:245px;
  height: 245px;
  position : absolute;
  border-radius:100%;
  top:227px;
  left:220px;
  margin: -122px;
  background-color:#ECE7EE;
  border: 12px solid #333;
}

.brand{
  font-family: 'Berkshire Swash', cursive;
  color : #222;
  font-size: 3.2em;
  margin-top : 35px;
  margin-bottom: 16px;
}

#count{

}

#start{

}

#strict{

}
                     

.full-red{
  background-color : #FC0102;
}
.red{
  background-color : #9f0f17;
}

.green{
  background-color : #00a74a;
}

.yellow{
  background-color : #cca707;
}

.blue{
  background-color : #094a8f;
}

.yellow.light{
  background-color : #fed93f;
}

.blue.light{
  background-color : #1c8cff;
}

.red.light{
  background-color : #ff4c4c;
}

.green.light{
  background-color : #13ff7c;
}

///borrowed from ready simon game

//why does this do nothing
.control-row {
   
}

.count{
  font-family: 'VT323', monospace;
  color : #DC0D29;
  padding : 0px;
  font-size : 2em;
  width : 50px;
  background-color: #32050C;
  position:relative;
  border : 4px solid #222;
  border-radius : 10px;
  margin:auto;
}

.round-btn-yellow{
  width : 28px;
  height : 28px;
  position: relative;
  background-color : yellow;
  border-radius : 100%;
  border : 4px solid #444;
  box-shadow : 0px 2px 3px #222;
  margin:auto;
  top : -5px;
}

.round-btn-red{
  width : 28px;
  height : 28px;
  position: relative;
  background-color : #FC0102;
  border-radius : 100%;
  border : 4px solid #444;
  box-shadow : 0px 2px 3px #222;
  margin:auto;
  top : -5px;
}

.round-btn:active{
    box-shadow : 0 1px 1px #292929;
    top : -4px;
}

.clickable{
  pointer-events : auto;
  cursor:pointer;
}

.unclickable{
  pointer-events:none;
}

.led{
  width:10px;
  height:10px;
  background-color: #32050C;
  border-radius : 100%;
  position: absolute;
  left:0;
  right: 0;
  margin : auto;
  border: 2px solid #222;
  top: -18px;
}

.led-on{
  background-color:#DC0D29;
}

.led-off{
  color:#430710;
}

.label{
  color : #222;
  font-family : 'Oswald',Arial,sans;
  font-size:0.7em;
  margin-top:5px;
  text-align:center;
}

.display{
  display: inline-block;
  width : 60px;
  position:relative;
  text-align:center;
}

.btn-box{
  display: inline-block; 
  width : 50px;
  position:relative;
}

.switch-slot{
  display: inline-block; 
  height:20px;
  width:40px;
  background-color : #222;
  position:relative;
  top:5px;
  border-radius:2px;
  cursor: pointer;
}

.switch{
  height:20px;
  width: 20px;
  border-radius:4px;
  background-color : #3193DE;
  position:relative;
  border : 2px solid #333;
}

.switch-on{
  left:20px;
}
.row.bot{
  margin-top: 10px;
}
